{% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.4.1/css/fontawesome.min.css"
        integrity="sha512-BKi4eRioAvJXLdNg7ovPfxyjW9UTPmHn9/P/tbPhJNrlSas2ukXzhhc9kKWZB5uWrJDI272RsK1Tdik0YpNwxA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.4.1/css/brands.min.css"
        integrity="sha512-drwJH4QxOGM8azjNu87OGn2bu7k6ToXwyEvWUJMYMeZyu/w7SlpgH+twp03Us49XasaJa240ane5rWx20Y/KFQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.4.1/css/solid.min.css"
        integrity="sha512-vO0CWkG1zieLGlUn5672fhaph8moNTLJa5YxFoESbH6Ae6l08Cf7/8eiSN9/mSIouLGlETU+/A2slJYJYR761A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'recipes/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/global-style.css' %}">
    

</head>